<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Management System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/4.5.2/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/css/datatables.net/1.11.5/jquery.dataTables.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/fontawesome/all.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            min-width: 100%;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        .box-container {
            border: 1px solid #ccc;
            margin-bottom: 15px;
        }
        .box-header {
            padding: 10px;
            cursor: pointer;
            background-color: #f0f0f0;
            border-bottom: 1px solid #ccc;
        }
        .box-body {
            padding: 10px;
        }
        .btn-add-record {
            margin-bottom: 20px;
        }
        .collapse-text {
            text-align: right;
        }
        .worker-cell {
            min-height: 50px;
            position: relative;
        }
        .job {
            background-color: #f9f9f9;
            padding: 5px;
            margin: 5px 0;
            cursor: move;
            z-index: 9999;
            min-height: 50px;
        }
        .allocation {
            cursor: move;
            min-height: 50px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            padding: 15px;
            margin: 10px 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
            transition: background-color 0.3s, box-shadow 0.3s;
        }
        .delete-icon {
            color: red;
            font-size: 25px;
            cursor: hand;
        }
        .allocation:hover {
            background-color: #eaeaea;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
        .allocation div {
            margin-bottom: 10px;
        }
        .delete-icon {
            cursor: pointer;
            color: #dc3545;
        }
        .delete-icon:hover {
            color: #c82333;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApg-WC0f4YH1B3m1BG4HEPwlke287Hl6s&libraries=places"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Transport Management System</span>
        </div>
    </nav>
</header>

<!-- Main Content -->
<div class="container mt-5">
    <div class="box-container">
        <div class="box-header" data-toggle="collapse" data-target="#collapseExample">
            <h5 class="mb-0 collapse-text">Click to Minimize/Expand</h5>
        </div>
        <div id="collapseExample" class="collapse show">
            <div class="box-body">
                <h1>Welcome to Transport Management System</h1>
                <p>This web application allows collaborative data entry and inline editing of tables. You can easily add, edit, and
                    delete records in the table.</p>

                <h2>Features:</h2>
                <ul>
                    <li>Collaborative data entry</li>
                    <li>Inline editing of tables</li>
                    <li>Automatic reconnection to the server if the connection is lost</li>
                    <li>Automatic page refresh upon successful reconnection</li>
                    <li>Keyboard navigation for DataTables</li>
                    <li>Google Maps API address autocomplete</li>
                </ul>

                <h2>How to Use:</h2>
                <ol>
                    <li>Click on the "Add Record" button to add a new record.</li>
                    <li>To edit an existing record, simply click on the cell you want to edit and make changes.</li>
                    <li>Use the arrow keys to navigate vertically or horizontally through table cells.</li>
                    <li>When a cell with a select dropdown or datepicker is selected, press the space key to open the dropdown and use arrow keys to navigate options. Press the 'Enter' key to select an option.</li>
                    <li>In a cell with an address autocomplete selected, begin typing the address. As you type, a dropdown list of suggested addresses will appear. Use the arrow keys to navigate through the options. Press the 'Enter' key to select an address option. If needed, confirm the selection before proceeding.</li>
                    <li>Navigate away from the cell or click outside it to save changes. Alternatively, press the 'Esc' key to
                        discard changes.
                    </li>
                    <li>To delete a record, click on the "Delete" button in the corresponding row.</li>
                    <li>You can easily assign a job to a worker, switch jobs between workers on different days, or arrange the priority of workers within a single day by clicking and dragging them. Simply click on the job reference number you want to move, hold down your mouse button, and drag it to the job schedule table. Release the mouse button to drop the job into place.</li>
                </ol>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-add-record" id="btnAdd" data-toggle="modal">Add Record</button>
    <table id="myTable" class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Transport Type</th>
            <th>Client</th>
            <th>Reference #</th>
<!--            <th>Date</th>-->
            <th style="width:25%">Pick-up Address</th>
            <th style="width:25%">Drop-off Address</th>
            <th style="width:7%;align-content: center">QTY</th>
            <th style="width:7%">Units</th>
<!--            <th>Worker</th>-->
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
    <h2>Job Schedule</h2>
    <table id="allocationTable" class="table table-bordered"></table>
</div>

<footer class="mt-5">
    <div class="container text-center">
        <p>&copy; 2024 Transport Management System</p>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="/js/bootstrap/4.5.2/bootstrap.min.js"></script>
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="/js/datatables.net/1.11.5/jquery.dataTables.js"></script>
<!-- Web Socket JS -->
<script src="/js/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="/js/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Drag and drop JS -->
<script src="/js/jquery/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Include Moment.js -->
<script src="/js/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script th:inline="javascript">
    var jobTable, allocationJob = null, socketId = generateRandomString(15);
    var url = '/api/jobData';
    const options = {
        reconnectInterval: 3000, // Reconnect interval in milliseconds
        debug: true // Enable debug logging
    };

    let reconnectInterval = 2000; // Reconnect interval in milliseconds

    function connect(isReconnect) {
        var socket = new SockJS('/ws', null, options);
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/job', function (response) {
                console.log('Received: ' + response.body);
                reloadTable(response.body);
            });
            if (isReconnect) {
                console.log('Reload table..');
                //If reconnected, then reload the page
                location.reload(true);
            }
        }, function (error) {
            console.error('SockJS connection error:', error);
            setTimeout(connect(true), reconnectInterval); // Reconnect after a delay
        });
    }

    function reloadTable(msg) {
        if (socketId === msg) return;
        //Disable blur
        $('#myTable .form-control').off('blur');
        console.log("reload");
        reloadDataAndReinitialize();
        buildAllocationTable();
    }

    function deleteAllocation(jobId) {
        $('.allocation[data-job-id="' + jobId + '"]').remove();
    }

    $(document).ready(function () {
        connect(false);
        jobTable = $('#myTable').DataTable({
            ajax: {url: url, dataSrc: "data"},
            processing: true,
            serverSide: true,
            order: [ [0, 'asc'] ],
            autoWidth: true, // Set auto width
            columns: [
                {data: "orderNumber", defaultContent: 0, visible: false},
                {
                    data: "transportType", defaultContent: "", className: 'transport-type-select',
                    render: function (data) {
                        if (data != null && data.label != null) {
                            return data.label;
                        }
                    }
                },
                {data: "clientCode", defaultContent: "", className: 'text'},
                {data: "referenceNo", defaultContent: "", className: 'text job'},
                // {
                //     data: "date", defaultContent: "", className: 'date',
                //     render: function (data) {
                //         if (!data) return null;
                //         // Assuming data is in "yyyy-mm-dd" format
                //         return moment(data).format('DD/MM/YYYY');
                //     }
                // },
                {data: "pickupAddress", defaultContent: "", className: 'address'},
                {data: "dropOffAddress", defaultContent: "", className: 'address'},
                {data: "qty", defaultContent: "", className: 'number'},
                {
                    data: "unit", defaultContent: "", className: 'unit-select',
                    render: function (data) {
                        if (data != null && data.label != null) {
                            return data.label;
                        }
                    }
                },
                // {
                //     data: "worker",
                //     defaultContent: "",
                //     className: 'worker-select',
                //     render: function (data) {
                //         if (data !== undefined && data !== null) {
                //             return data.name;
                //         }
                //     }
                // },
                {
                    data: "status", defaultContent: "", className: 'status-select',
                    render: function (data) {
                        if (data != null && data.label != null) {
                            return data.label;
                        }
                    }
                },
                {
                    data: "id", render: function () {
                        // $(td).html("<button type='button' class='btn-edit btn btn-warning mr-md-1'>Edit</button><button type='button' class='btn-delete btn btn-danger'>Delete</button>");
                        return "<button type='button' class='btn-delete btn btn-danger'>Delete</button>";
                    }
                }
            ],
            lengthMenu: [10, 25, 50, 100],
            createdRow: function(row, data, dataIndex) {
                var job = btoa(JSON.stringify(data))

                // Adding data-job to the second cell (index 1) in each row
                $(row).find('td').attr('data-job', job);
            }
        });

        jobTable.on('draw', function() {
            initializeUIFeatures();
        });

        // Get the number of columns
        var numColumns = jobTable.columns().count();

        $('#myTable').on('click', '.btn-delete', function () {
            var rowData = jobTable.row($(this).closest('tr')); // Get row data

            // Populate modal form fields with row data
            var id = rowData.data().id;

            if (confirm("Are you sure want to delete this data?")) {
                if (id == null) {
                    reloadDataAndReinitialize();
                    return;
                }
                // Perform AJAX call to delete data from server
                $.ajax({
                    url: '/api/jobData',
                    method: 'DELETE',
                    dataType: 'text',
                    contentType: "application/json",
                    data: JSON.stringify({"socketId": socketId, "data": {"id": id}}),
                    success: function () {
                        console.log("Data has been deleted");
                        reloadDataAndReinitialize();
                        deleteAllocation(id);
                    },
                    error: function (xhr, status, error) {
                        alert(error.message)
                    }
                });
            }
        });

        $('#btnAdd').click(function () {
            // Reset back to the original URL
            var newDataUrl = url + '/newData';
            jobTable.ajax.url(newDataUrl).load(callback);
        });

        function callback(){
            $('#myTable tbody tr:first td:first').trigger('click');
            initializeUIFeatures();
        }

        $(document).on('keydown', '#myTable td', function (e) {
            var keyCode = e.keyCode || e.which;

            if (keyCode >= 37 && keyCode <= 40) { // Arrow keys
                e.preventDefault();
                moveCell(this, keyCode);
            }
        });

        $('#myTable').on('click', 'td', function () {
            var tdElement = $(this);

            //Prevent recreate another input
            if (tdElement.find('*').length > 0) return;

            var cell = jobTable.cell(this);
            var originalValue = cell.data();
            var rowIndex = cell.index().row;
            // Get the corresponding id cell in the same row
            var idCell = jobTable.cell(rowIndex, numColumns - 1);
            var columnIndex = cell.index().column;
            var input;

            //Get Class names
            var classNames = tdElement.attr('class');

            if (classNames.includes("text")) {
                // Create input field
                input = $('<input type="text" class="form-control">').val(originalValue);
            } else if (classNames.includes("date")) {
                // Create input field
                input = $('<input type="date" class="form-control">').val(originalValue);
            } else if (classNames.includes("number")) {
                // Create input field
                input = $('<input type="number" class="form-control">').val(originalValue);
            } else if (classNames.includes("address")) {
                // Create input field
                input = $('<input type="text" class="form-control" id="autocomplete">').val(originalValue);
            } else if (classNames.includes("worker-select")) {
                // Fetch workers list from API
                $.ajax({
                    url: '/api/workerData',
                    async: false,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Create a select element
                        input = $('<select class="form-control">');
                        if (data.length === 0) return;
                        //
                        input.append($('<option>'));

                        // Populate select element with workers
                        data.forEach(function (worker) {
                            input.append($('<option>', {
                                value: JSON.stringify(worker),
                                text: worker.name,
                                selected: originalValue && worker.id === originalValue.id
                            }));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching workers:', error);
                    }
                });
            } else if (classNames.includes("transport-type-select") || classNames.includes("unit-select") || classNames.includes("status-select")) {
                var url;

                if (classNames.includes("transport-type-select")) {
                    url = '/api/transportTypes';
                } else if (classNames.includes("unit-select")) {
                    url = '/api/units';
                } else if (classNames.includes("status-select")) {
                    url = '/api/statuses';
                }

                // Fetch workers list from API
                $.ajax({
                    url: url,
                    async: false,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Create a select element
                        input = $('<select class="form-control">');
                        if (data.length === 0) return;
                        //
                        input.append($('<option>'));

                        // Populate select element with workers
                        data.forEach(function (data) {
                            input.append($('<option>', {
                                value: JSON.stringify(data),
                                text: data.label,
                                selected: originalValue && data.id === originalValue.id
                            }));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching option:', error);
                    }
                });
            } else return;

            // Replace cell content with input field
            tdElement.html(input);

            // Focus on input field
            input.focus();

            var isUpdating = false;

            // Attach event listener to the input element for both 'keydown' and 'blur change' events
            input.on('keydown blur change', function (event) {
                if (event.type === 'blur' || event.which === 27) {
                    if (event.which === 27) { // Escape key
                        $(this).remove(); // Remove the input element
                        cell.data(originalValue); // Restore original value
                    } else if (event.type === 'blur') { // Enter key or blur/change event
                        updateData.call(this); // Call updateData function with 'this' context
                    }
                }
            });

            function updateData() {
                //Prevent event bubbling
                if (isUpdating) return;
                isUpdating = true;

                var newValue = parseJSON($(this).val()); // Get new value from input field
                console.log("Save");

                cell.data(newValue); // Update cell with new value

                if (deepEqual(originalValue, newValue)) return; // No change, exit early

                var trElement = tdElement.closest('tr'); // Find closest <tr> parent
                var rowData = jobTable.row(trElement).data(); // Get row data

                // Perform AJAX request to update the data
                $.ajax({
                    url: '/api/jobData',
                    method: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({"socketId": socketId, "data": rowData}),
                    success: function (data) {
                        console.log('Data updated');
                        //If id null, get from response
                        if (!!!rowData.id) {
                            console.log("new id : " + data.id)
                            //Update id in table
                            idCell.data(data.id);
                            idCell.invalidate();
                        }
                        var job = btoa(JSON.stringify(data))

                        // Adding data-job to the second cell (index 1) in each row
                        trElement.find('td').attr('data-job', job);
                        buildAllocationTable();
                    },
                    error: function (xhr, status, error) {
                        alert(error.message);
                    }
                });
            }

            if (classNames.includes("date")) {
                //Set today as minimum date
                var today = new Date().toISOString().split('T')[0];
                $('input[type="date"]').attr('min', today);
            } else if (classNames.includes("address")) {
                var _input = document.getElementById('autocomplete');
                var options = {
                    types: ['geocode'],
                    componentRestrictions: {country: 'au'} // Restrict autocomplete to Australia
                };
                new google.maps.places.Autocomplete(_input, options);
            }
        });

        buildAllocationTable();
    });

    function saveSort() {
        // Update DataTable order after drag and drop
        var newOrder = [];
        var newOrderAjax = [];
        var i = 1;
        $('#myTable tbody tr').each(function () {
            var rowData = jobTable.row(this).data();
            if (!rowData) return;
            rowData.orderNumber = i;
            newOrder.push(rowData);
            var id = rowData.id;
            newOrderAjax.push({"id": id, "orderNumber": i});
            i++;
        });

        // Perform AJAX request to update the data
        $.ajax({
            url: '/api/reorderJobData',
            method: 'POST',
            dataType: 'text',
            contentType: "application/json",
            data: JSON.stringify({"socketId": socketId, "jobList": newOrderAjax}),
            success: function () {
                console.log("Data reordered");
                reloadDataAndReinitialize();
            },
            error: function (xhr, status, error) {
                alert(error.message)
            }
        });
    }

    function parseJSON(str) {
        str = str === '' ? null : str;
        try {
            return JSON.parse(str);
        } catch (e) {
            return str;
        }
    }

    function deepEqual(obj1, obj2) {
        // If both objects are null or undefined, they are equal
        if (obj1 == obj2) return true;

        // If one of the objects is null or undefined, they are not equal
        if (typeof obj1 !== 'object' || typeof obj2 !== 'object' || obj1 === null || obj2 === null) return false;

        // Get the keys of both objects
        const keys1 = Object.keys(obj1);
        const keys2 = Object.keys(obj2);

        // If the number of keys is different, the objects are not equal
        if (keys1.length !== keys2.length) return false;

        // Compare the values of each property recursively
        for (let key of keys1) {
            if (!keys2.includes(key) || !deepEqual(obj1[key], obj2[key])) {
                return false;
            }
        }

        return true;
    }

    function generateRandomString(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

        for (var i = 0; i < length; i++) {
            var randomIndex = Math.floor(Math.random() * characters.length);
            result += characters.charAt(randomIndex);
        }

        return result;
    }

    function moveCell(currentCell, keyCode) {
        var cell = jobTable.cell(currentCell);
        var nextCell;

        switch (keyCode) {
            case 37: // Left arrow
                nextCell = $(cell.node().previousElementSibling);
                break;
            case 38: // Up arrow
                var prevRow = cell.node().parentNode.previousSibling;
                if (prevRow) {
                    var index = $(currentCell).index();
                    nextCell = $(prevRow).find('td:eq(' + index + ')');
                }
                break;
            case 39: // Right arrow
                nextCell = $(cell.node().nextElementSibling);
                break;
            case 40: // Down arrow
                var nextRow = cell.node().parentNode.nextSibling;
                if (nextRow) {
                    var index = $(currentCell).index();
                    nextCell = $(nextRow).find('td:eq(' + index + ')');
                }
                break;
        }

        if (nextCell && nextCell.length > 0) {
            nextCell.click(); // Trigger click event on the next cell

            // Handle focus for accessibility
            nextCell.focus();
        }
    }

    function buildAllocationTable() {
        $.ajax({
            type: 'GET',
            url: '/api/allocations',
            success: function(d) {
                if (allocationJob == null) {
                    allocationJob = $('#allocationTable').DataTable({
                        data: d.data,
                        columns: d.columns,
                        paging: false,      // Disable pagination
                        searching: false,   // Disable search input
                        info: false,        // Optionally, disable the table info (e.g., "Showing 1 to 10 of 57 entries")
                        ordering: false,    // Disable sorting for the entire table
                        createdRow: function (row, data, dataIndex) {
                            var worker = btoa(JSON.stringify(data.worker));
                            $(row).find('td:not(:first-child)').each(function (index, element) {
                                // Add worker-cell class to all cells in each row except the first one
                                $(element).addClass('worker-cell');
                                var date = d.columns[index + 1].title;
                                // Add date attribute with the index
                                $(element).attr('data-date', date);
                                // Add worker attribute with the index
                                $(element).attr('data-worker', worker);
                            });
                        },
                        columnDefs: [
                            {
                                targets: '_all', // Target all columns
                                render: function(data, type, row, meta) {
                                    if (data instanceof Array) {
                                        var html = '';
                                        data.forEach(function(item) {
                                            html += createAllocationElement(item);
                                        });
                                        return html;
                                    }
                                    // Customize the rendering of each cell here
                                    return data; // Return the data to display
                                }
                                // Add other configurations as needed
                            }
                        ]
                    });
                } else {
                    allocationJob.clear().rows.add(d.data).draw();
                }
                initializeUIFeatures();
            }
        });
    }

    // Function to initialize UI features (draggable, droppable, sortable)
    function initializeUIFeatures() {
        // Make jobs draggable (after DataTables initialization)
        $('.job').draggable({
            revert: 'invalid',
            helper: function(event) {
                var originalElement = $(this);
                var helperElement = originalElement.clone();
                helperElement.addClass('from-job-table');
                return helperElement;
            },
        });

        // // Make worker cells droppable
        $('.worker-cell').droppable({
            // accept: '.job',
            accept: function(draggable) {
                var draggableJobId = $(draggable).data('job-id');
                return !$(this).find('.allocation[data-job-id="' + draggableJobId + '"]').length;
            },
            drop: function(event, ui) {
                var this_ = $(this);
                var job;
                var jobData = ui.helper.data('job');
                if (jobData !== undefined) {
                    job = JSON.parse(atob(jobData));
                }
                var allocationData = ui.helper.data('allocation');
                if (allocationData !== undefined) {
                    var allocation = JSON.parse(atob(allocationData));
                    job = allocation.job;
                }
                var jobId = job.id;
                var jobRef = job.referenceNo;
                var worker = JSON.parse(atob(this_.data('worker')));
                var date = this_.data('date');
                var isFromJobTable = $(ui.helper).hasClass('from-job-table');
                // Check if the job with jobId already exists in this worker cell
                if (isFromJobTable && !this_.find('.allocation[data-job-id="' + jobId + '"]').length) {
                    this_.append(createAllocationElement({date: date, worker: worker, job: job}));

                    saveAllocations(this_, worker, date);
                } else {
                    alert('Job already allocated for this worker.');
                }
            }
        });

        // Make jobs within worker table draggable and sortable
        $('.worker-cell').sortable({
            items: '.allocation',
            connectWith: '.worker-cell',
            placeholder: 'job-placeholder',
            forcePlaceholderSize: true,
            tolerance: 'pointer',
            dropOnEmpty: true,
            revert: true, // Items will revert to their original position if not dropped onto a valid sortable target
            stop: handleSortAndReceive,
            receive: handleSortAndReceive
        }).disableSelection();
    }

    function reloadDataAndReinitialize() {
        jobTable.ajax.url(url).load(function() {
            // Callback function after data reload is complete
            initializeUIFeatures(); // Reinitialize UI features after DataTable reload
        });
    }

    function saveAllocations(this_, worker, date) {

        var allocations = [];
        this_.find('.allocation').each(function (index, element) {
            var allocation = JSON.parse(atob($(element).data('allocation')));
            allocation['index'] = index;
            allocation['worker'] = worker;
            allocation['date'] = date;
            allocations.push(allocation);
        });

        this_.sortable("disable");
        // Perform AJAX call to save allocation data to server
        $.ajax({
            url: '/api/allocationsData',
            method: 'POST',
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify({"socketId": socketId, "dataList": allocations}),
            success: function (data) {
                this_.empty();
                data.forEach(function(item) {
                    this_.append(createAllocationElement(item));
                });
                this_.sortable("enable");
            },
            error: function (xhr, status, error) {
                alert(error.message)
            }
        });
    }

    function createAllocationElement(allocation) {
        var job = allocation?.job
        var jobId = job?.id ?? '';
        var jobRef = job?.referenceNo ?? '';
        var transportType = job?.transportType?.label ?? '';
        var clientCode = job?.clientCode ?? '';
        var status = job?.status?.label ?? '';
        var html = '<div class="container">\n' +
            '    <div class="allocation ui-sortable-handle" data-job-id="{jobId}" data-allocation="{allocation}">\n' +
            '      <div class="d-flex justify-content-between align-items-center">\n' +
            '        <span>{jobRef}</span>\n' +
            '        <i class="fas fa-solid fa-square-xmark delete-icon" onclick="deleteAllocation(this)"></i>\n' +
            '      </div>\n' +
            '      <div>{transportType}</div>\n' +
            '      <div>{clientCode}</div>\n' +
            '      <div>{status}</div>\n' +
            '    </div>\n' +
            '  </div>';
        return html.replace('{jobId}', jobId)
                .replace('{allocation}', btoa(JSON.stringify(allocation)))
                .replace('{jobRef}', (jobRef == null ? 'Job Id: ' + jobId : 'Ref#: ' + jobRef))
                .replace('{transportType}', transportType)
                .replace('{clientCode}', clientCode)
                .replace('{status}', status);
    }

    function handleSortAndReceive(event, ui) {
        // Handle sorting update
        event.stopPropagation(); // Prevent event propagation if necessary
        var this_ = $(this);
        var allocation = JSON.parse(atob(ui.item.data('allocation')));
        var jobId = allocation.job.id;
        var jobRef = allocation.job.referenceNo;
        var worker = JSON.parse(atob(this_.data('worker')));
        var date = this_.data('date');
        console.log(this_.find('.allocation[data-job-id="' + jobId + '"]').length);
        if (this_.find('.allocation[data-job-id="' + jobId + '"]').length > 1) {
            // Revert sorting
            ui.sender.sortable( "cancel" );
            alert('Job ' + (jobRef == null ? 'Job Id: ' + jobId : 'Ref#: ' + jobRef) + ' already allocated for this worker.');
        } else {
            saveAllocations(this_, worker, date);
        }
    }

    function deleteAllocation(this_) {
        var allocationElement = $(this_).closest(".allocation");
        var allocation = allocationElement.data("allocation");
        if (allocation != null && confirm("Are you sure want to delete this allocation")) {
            $.ajax({
                url: '/api/allocationsData',
                method: 'DELETE',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify({"socketId": socketId, "data": JSON.parse(atob(allocation))}),
                success: function () {
                    allocationElement.remove();
                },
                error: function (xhr, status, error) {
                    alert(error.message)
                }
            });
        }
    }
</script>
</body>
</html>
